*.exe
*.so
*.dylib
*.bin
*.obj
*.lib
*.a
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.mp4
*.avi
*.mkv
*.mov
*.mp3
*.wav
*.db
*.sqlite
*.mdb
.vs/
.vscode/
*.user
*.suo
Thumbs.db
.DS_Store
node_modules/
packages/
bin/
obj/
build/
dist/
